<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Dusun</title>
</head>
<body>
<div class="container-xxl flex-grow-1 container-p-y" layout:fragment="content">
    <div class="row">
        <div class="d-flex align-items-center">
            <h3 class="mr-auto p-3">Fakultas List</h3>
            <div class="ms-auto" role="group">
                <a class="btn btn-primary" th:href="@{~/fakultas/add}">Tambah Dusun</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Code</th>
                <th scope="col">Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, no :${data}">
                <th scope="row" th:text="${no.index + 1}">1</th>
                <td th:text="${item.code}"></td>
                <td th:text="${item.name}"></td>
                <td>
                    <a th:href="@{~/fakultas/detail/{id}(id=${item.id})}" class="btn btn-primary">
                        Detail
                    </a>
                    <a th:href="@{~/fakultas/edit/{id}(id=${item.id})}" class="btn btn-success">
                        Edit
                    </a>
                    <a th:href="@{~/fakultas/delete/{id}(id=${item.id})}" class="btn btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>